#navbar {
    position: fixed; 
    top: 0;
    z-index: 1201;
    background-color: inherit;
    height: 200px;
    justify-content: center;
    margin: 0;
    padding: 10px 50px;
    box-shadow: none;
}